<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zystudio.demo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="sogou.mobile.explorer.permission.ACTIVATION" />


    <application
        android:name=".ZYDemoApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="zystudio.demo.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="zystudio.cases.dataprocess.net.CaseDownloadActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="zystudio.cases.graphics.MixColorTextActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="zystudio.cases.dataprocess.net.CaseVelloyNetActivity"
            android:label="VelloyNet">
        </activity>
        <activity
            android:name="zystudio.demo.fakeqqnavigation.CaseShowScrollActivity"
            android:label="@string/scroll_case">
        </activity>
        <activity
            android:name="zystudio.cases.androidmechanism.CaseLoadExternalApkActivity"
            android:label="LoadExternalApk" >
        </activity>
        <activity
            android:name="zystudio.demo.activitylifecycle.ActivityA"
            android:label="ActivityA" >
        </activity>
        <activity
            android:name="zystudio.demo.activitylifecycle.ActivityB"
            android:label="ActivityB" >
        </activity>
        <activity
            android:name="zystudio.demo.activitylifecycle.ActivityC"
            android:label="ActivityC">
        </activity>
        <activity
            android:name="zystudio.demo.activitylifecycle2.Cycle2ActivityA"
            android:label="CycleActivityA">
        </activity>
        <activity
            android:name="zystudio.demo.activitylifecycle2.Cycle2ActivityB"
            android:label="CycleActivityB">
        </activity>
        <activity
            android:name="zystudio.demo.plugin.ClsLoaderActivity"
            android:label="ClsLoaderActivity"></activity>
        <receiver
            android:name=".ScreenReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
        <receiver android:name="zystudio.cases.androidmechanism.NetWorkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity android:name=".ipc.ShowAIDLActivity"></activity>
        <service android:name=".ipc.RemoteAIDLService" android:process=":binder_remote"
            ></service>
    </application>
</manifest>